.menu-title {
  display: flex;
  justify-content: center;
  padding: clamp(1.875rem, 1.44rem + 1.858vw, 3.75rem);
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  text-transform: uppercase;
}
