.small-card {
  display: flex;
  align-items: center;

  gap: 30px;
  min-width: 280px;
  max-width: clamp(15.625rem, 12.723rem + 12.384vw, 28.125rem);
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
}

.small-card img {
  width: 100px;
  height: 100px;
}

.small-card span {
  font-weight: 700;
}
